@font-face {
    font-family: 'York';
    src: url('../font/York.otf');
}

@font-face {
    font-family: 'Milestone';
    src: url('../font/Milestone.otf');
}

@font-face {
    font-family: 'AlbraMedium';
    src: url('../font/AlbraMedium.ttf');
}

@font-face {
    font-family: 'Cormorant';
    src: url('../font/CormorantUprightRegular.otf');
}

@font-face {
    font-family: 'CormorantBold';
    src: url('../font/CormorantUprightBold.ttf');
}

@font-face {
    font-family: 'CormorantSemiBold';
    src: url('../font/CormorantUprightSemiBold.ttf');
}

@font-face {
    font-family: 'InclusiveSans';
    src: url('../font/InclusiveSans-Regular.ttf');
}

@font-face {
    font-family: 'Charlotte';
    src: url('../font/Charlotte.otf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Regular.ttf');
}